/*============ HERO ==============*/

.hero {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
    background-color: $background;

    &__title {
      margin-top: 0;
      margin-bottom: 30px;
      color: $primary-white-color;
      text-transform: uppercase;
      letter-spacing: 0.06em;
  
    @media screen and (max-width: 1199px) {
        @include font (26px, 900, 42px);
      }

      @media screen and (min-width: 1200px) {
        @include font (44px, 900, 60px);
      }
     }

    @media screen and (max-width: 1199px) {
      width: 100%;
      text-align: center;
      padding-bottom: 118px;
      padding-top: 118px;
      
    }

    @media screen and (min-width: 1200px) {
    padding-bottom: 200px;
    padding-top: 200px;
    }
  }

/*---------- OVERLAY ----------*/

  .overlay {
    // max-width: 1600px;
    // height: 600px;
    // margin-left: auto;
    // margin-right: auto;
    // outline: 1px solid $title-and-text-color;
    // background-image: linear-gradient(
    //     rgba(47, 48, 58, 0.4),
    //     rgba(47, 48, 58, 0.4)
    //   ),
    //   url(../images/hero-img.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;

    background-image: linear-gradient(
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
      ),
      url(/images/hero/Hero-mobile-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 480px 400px;
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
screen and (min-resolution: 192dpi) and (min-width: 320px),
screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .overlay{
    background-image: linear-gradient(
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)
      ),
      url(/images/hero/Hero-mobile-img@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
 }

  