/*============ HEADER ==============*/

.page-header {
  position: relative;
    border-bottom: 1px solid #ececec;
  }

  /*---------- NAVIGATION ----------*/
  
  /*-----NEW-HEADER-----*/
  .main-nav {
    // position: relative;
    display: flex;
    align-items: center;
    min-height: 80px;

    @media screen and (max-width: 1200px) {
      justify-content: space-between;
    }
  }

  .logo {
    @media screen and (max-width: 1200px) {
     
      @include font (24px, 400, 28px);
      margin-bottom: 0;
    }
  }

  .menu-button {
    display: inline-flex;
    margin: 0;
    page-break-after: 0;
    border: none;
    background-color: transparent;

    .icon-cross {
      display: none;
    }

    &.is-open .icon-cross {
      display: block;
    }

    &.is-open .icon-menu {
      display: none;
    }

    @media screen and(min-width: 767px) {
      display: none;
    }
  }

  .navigation {

    &.is-open{
      display: block;
      padding-top: 60px;
    }

    @media screen and (max-width: 767px) {
      display: none;
      position: absolute;
      text-align: center;
      top: 100%;
      left: 0;
      width: 100%;
      height: 393px;
      background-color: white;
    }

    @media screen and (min-width: 768px) {
      display: contents;
      align-items: center;
    }
} 

 .site-nav {
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: 93px;
    }
  }

   .site-nav__item {
   @media screen and (max-width: 767px) {
    margin-bottom: 52px;

  //   &:last-child {
  //   margin-bottom: 60px;
  //  }
  }

  @media screen and (min-width: 768px) {
    &{
      margin-left: 50px;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    & + & {
      margin-left: 50px;
    }
  }
}

    .site-nav__link{
      position: relative;
      display: inline-block;
      padding-bottom: 8px;
      color: $title-and-text-color;
      @include font (14px, 500, 17px);
      letter-spacing: 0.03em;
      text-decoration: none;
      transition: color 250ms $timing-function;

      @media screen and (min-width: 768px) {
      padding-top: 32px;
      padding-bottom: 32px;
      @include font (14px, 500, 16px);  
      }

      @media screen and (max-width: 767px) {
        @include font (18px, 500, 21px);
      }

     &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $button-color;
        opacity: 0;
        transform: scaleX(0);
        transition: all 250ms $timing-function;
       }

       &:hover,
       &:focus {
        color: $button-color;
        cursor: pointer;
      }

      &:hover::after,
      &:focus::after {
      opacity: 1;
      transform: scaleX(1);
       }
      }

     .is-current {
     color: $button-color;
     opacity: 1;

     &::after {
      color: $button-color;
      opacity: 1;
      transform: scaleX(1);
    }
  } 
   /*---------- CONTACTS ----------*/
  
  .contacts {
    align-items: center;

    @media screen and (max-width: 1199px) {
      display: block;
    }
    
    
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
  

    .contacts__item {
      @media screen and (max-width: 767px) {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }

      @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:not(:last-child) {
          margin-bottom: 10px;
         }
      }

      @media screen and (min-width: 1200px) {
        &:last-child {
          margin-left: 30px;
        }
      }
    }
    
  .contacts__link {
      display: inline-flex;
      flex-direction: row-reverse;
      color: $primary-text-color;
      @include font (14px, 500, 17px);
      letter-spacing: 0.02em;
      text-decoration: none;
      transition: color 250ms linear;

    &:hover,
    &:focus {
    color: $button-color;
     }
    }
  

  .header__icon {
    margin-right: 10px;
    fill: $primary-text-color;

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: $button-color;
    transition: fill 250ms linear;
   }
  }
  
  
  
  
  