.page-footer {
    margin-top: 0;
    margin-bottom: 0;
    background-color: $background;
  }
  
  .footer-container {
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
    
  }
  
  /*---------- ADRESS ----------*/
  
  .adress {
    // margin-right: 70px;
    // margin-right: auto;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-left: 60px;
    }

    .logo {
      margin-bottom: 20px;
    }
  }
  
  .adress-list {
    display: flex;
    flex-direction: column;
    @include font (14px, 400, 24px);
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    &__link {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      transition: color 250ms $button-color;
    }

   &__link:hover,
   &__link:focus {
    color: $button-color;
   }

    &__item:not(:last-child) {
      padding-bottom: 9px;
     }
 }
  
  /*---------- FOOTER-SOCIAL ----------*/

  .footer-social {

    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
      margin-left: auto;
      // margin-right: 60px;
    }

    &__description {
      margin-bottom: 20px;
      font-family: $main-font;
      @include font (14px, 400, 17px);
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $primary-white-color;

      
      @media screen and (max-width: 1199px) {
      text-align: center;
      }
    }

    &__list {
      display: flex;
   
      @media screen and (max-width: 767px) {
        justify-content: center;
      }
    }
    &__item + &__item {
      margin-left: 10px;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 44px;
      width: 44px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 250ms $timing-function;

      &:hover,
      &:focus {
        background-color: $button-color;
      }
    }
  }
  
  .footer-link__icon {
  fill: $primary-white-color;
  }

  /*---------FOOTER-FORM----------*/
  
  .footer-form {

    @media screen and (min-width: 1200px) {
    width: 570px;
    height: 86px;
    margin-left: auto;
    }

    &__position {

      @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
      }
  }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 60px;
      margin-right: auto;
      margin-left: auto;
    }

    &__input {
      width: calc(100%);
    // width: 358px;
    height: 50px;
    padding: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: $background;

    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 12px;
    }

    &:focus {
      outline: none;
    }

    &:not(:placeholder-shown) {
      background-color: $primary-white-color;
     }
    }
  }
  
  
  
 
  
  