/*============ SECTION-CLIENTS ==============*/

.clients-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap
  }
}

.clients__item {
  margin: 15px;
  
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }

  // &:last-child {
  //   margin-right: 0;
  // }

  // @media screen and (max-width: 480px) {
  //   margin-right: 0;
  // }

}
  
  .clients__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    transition: border 250ms $timing-function;

    &:hover,
    &:focus {
      border-color: $button-color;
      color: $button-color;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
      width: 100%;
    }
  }
  
  .clients__icon {
    fill: currentColor;
    transition: fill 250ms $timing-function;
  }