
.footer-form__button {
  position: relative;
  display: flex;

&:hover,
&:focus {
  color: $button-color;
  background-color: $radio-button-color;
}
}

.footer-send__icon {
  position: absolute;
  top: 13px;
  right: 28px;
  margin-left: 4px;
  fill: $primary-white-color;
  
  .footer-form__button:hover &,
.footer-form__button:focus & {
  fill: $button-color;
  transition: color 250ms $timing-function;
}
}