/*============ SECTION ==============*/

.section {
    @media screen and (max-width:480px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    @media screen and (min-width:481px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 50px;
      color: $title-and-text-color;
      @include font (36px, 700, 42px);
      letter-spacing: 0.03em;
      text-align: center;
    }
  }

 