
    $primary-text-color: #757575;
    $primary-white-color: #ffffff;
    $title-and-text-color: #212121;
    $button-color: #2196f3;
    $background: #2f303a;
    $border-color: rgba(96, 177, 173, 0.336);
    $radio-button-color: #f5f4fa;
    $main-font: 'Roboto', sans-serif;
    $logo-font: 'Raleway', sans-serif;
    $backdround-hero: #c4c4c4;
    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  